<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="2147483647"  maxBufferSize="2147483647" maxBufferPoolSize="2147483647" >
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                                    maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                                    maxNameTableCharCount="2147483647" />
   
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2360/Service1.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceInmobiliaria.IService1"
          name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
</configuration>